{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>미정's portfolio</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">
    </head>

    <body>
        <div class="header">
            <h1>미정이의 포트폴리오!!</h1>
        </div>

        <div class="main">
            <p>메인부분입니다.</p>
            <a href="https://www.youtube.com/">youtube</a>
        </div>

        <div class="footer">
            <h6>여기는 바닥입니다. 이메일:dlalwjd1417@naver.com</h6>
            <h6>copyright @majunge</h6>
        </div>
        
    </body>
</html>