{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>미정's portfolio</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}">
    </head>

    <body>
        <div class="header">
            <p>미정이의 포트폴리오!!</p>
        </div>

        <div class="main">
            <p>메인부분입니다.</p>
            <a href="{% url 'firstpage' %}">첫번째 페이지 보기</a><br>
            <a href="{% url 'secondpg' %}">두번째 페이지 보기</a>
        </div>

        <div class="footer">
            <h6>copyright @majunge</h6>
        </div>
        
    </body>
</html>