*{
    background-color: #eee9ed;
    font-size:20px;
    box-sizing: border-box;
}




/*css의 주석입니다.*/
header{
    background-color:rgb(102, 180, 102);
    height:50px;
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(241, 106, 106);
    border-style: dotted;
    border-width:10px;
    border-spacing: 10px;
}

section{
    display:flex;
    justify-content:space-around;
    align-items: flex-start;

    margin: 10px auto;
    height:500px;
}

nav{
    background-color: yellowgreen;
    width:100px;
    height: 100px;
}

article{
    background-color: rgb(241, 106, 106);
    width:400px;
    height: 100px;
}

aside{
    background-color: seagreen;
    width:200px;
    height: 100px;
}

footer{
    background-color: rgb(191, 69, 196);
    height:100px;
    font-size:5px;
}

a:link{
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: none;
    background-color: green;
}

h1:hover{
    background-color: hotpink;
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style:none;
    padding-left: 0;

}

li:hover{
    background-color: indianred;
}


